body
{
    font-family: 'Segoe UI', sans-serif
}

.label {
  font-size: 100%;
}

body {
    background-color: #efeeef;
}

span {
    font-style: italic
}

#trafficlight
{
    height: 100%;
	vertical-align: top;
    line-height: 100px;
    width: 100%;
    margin-top: 10px;
}

#green-light, #yellow-light, #red-light
{
    font-size: 18px;
    text-align: right;
    height: 25px;
    line-height: 20px;
    width: 95px;
    display: inline-block;
}

button.colorbuttons {
display: block;
width: 95px;
text-align: center;
margin-top: 2px;
}

select {
    width: 95px;
}

#red-light, button#rednow
{
    background-color:#FF4040;
    color:white;
}

#yellow-light, button#yellownow
{
    background-color:#FCDC3B;
}

#green-light, button#greennow
{
    background-color:#A7DA7E;
}

.greenyellowred, .timefield {
    width: 95px;
}

#dropdowntime, #speakername {
    width: 95px;
}

#correction {
    width: 90px;
}

#buttons {
    display: none;
}
.speech-type
{
    padding:3px;
    margin: 3px;
	font-size: 10px;
    background-color: #E0EAF1;
    color: #3E6D8E;
    border-radius: 3px;
    box-shadow: 3px 3px 5px #535353;
}

.speech-type:hover
{
    background-color: #3E6D8E;
    color: #E0EAF1;
    cursor: pointer;
}

.active-speech
{
    background-color: #acf;
}

#credit {
    background-color: #fff;
    font-size: .8em;
	position: absolute;
	width: 100%;
	top: 0;
	text-align: right;
	height: 1.5em;
	overflow: hidden;
}

#colorlabel {
    width: 200px;
    float: right;
}
.float-left {
    float: left;
}

#jitsi {
    position: absolute;
    top: 30px;
    left: 30px;
}

#timelog {
	width: 95px;
    font-size: 10px;
}
.speech-type {
    margin-bottom: 1px;
    margin-left: 10px;
    display: block;
    width: 60px;
}