@charset "utf-8";
/* CSS Document */

.tmsortable li {
	list-style: none;
	padding: 10px;
	background-color: #eee;
	border: thin dotted blue;
	margin: 5px;
}
.tmsortable li.prompt {
	list-style: none;
	padding: 10px;
	background-color: #fff;
	border: none;
	margin: 5px;
	font-style: italic;
}

.sortresult {
background-color: #fff;
}

#agenda_print a, #agendalogin a, button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

div.role-block {
margin-bottom: 2px;
background-color: #fff;
}
div.role-title {
font-weight: bold;
}
div.role-data {
padding-left: 30px;
}

div.ajax_status {
background-color:#ffffe0;
color: blue;
}

button.save_changes
{
  background-color: #1e8cbe;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  border-top-color: #0074a2;
  border-right-color-value: #0074a2;
  border-bottom-color: #0074a2;
  border-left-color-value: #0074a2;
  box-shadow: 0px 1px 0px rgba(120, 200, 230, 0.6) inset;
  color: #ffffff;
}
button.save_changes.focus, .save_changes:focus
{
	background-color:#00F;
}

#cssmenu {
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 10px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: left;
  position: relative;
  z-index: 99;
}
#cssmenu > ul {
  width: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #ffffff;
  border: 1px solid #ece6e8;
  border-bottom: 3px solid #d9ced2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
#cssmenu > ul li#responsive-tab {
  display: none;
  /* Hide for large screens */

}
#cssmenu > ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
#cssmenu > ul li.right {
  float: right;
}
#cssmenu > ul li.has-sub {
  position: relative;
}
#cssmenu > ul li.has-sub:hover ul {
  display: block;
}
#cssmenu > ul li.has-sub ul {
  display: none;
  width: 250px;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #ffffff;
  border: 1px solid #ece6e8;
  border-bottom: 3px solid #d9ced2;
  border-top: 0 none;
}
#cssmenu > ul li.has-sub ul li {
  display: block;
}
#cssmenu > ul li.has-sub > a {
  background-image: url('images/caret.png');
  background-repeat: no-repeat;
  background-position: 90% -95%;
}
#cssmenu > ul li.has-sub > a.active,
#cssmenu > ul li.has-sub > a:hover {
  background: #d80041 url('images/caret.png') no-repeat;
  background-position: 90% 195%;
}
#cssmenu > ul li a {
  display: block;
  padding: 12px 24px 11px 24px;
  text-decoration: none;
  color: #747474;
  text-shadow: 0px 1px 0px #fff;
}
#cssmenu > ul li a.active,
#cssmenu > ul li a:hover {
  background: #d80041;
  color: #fff;
  text-shadow: 0px 1px 0px #000;
}
@media (max-width: 600px) {
  #cssmenu > ul {
    width: 100%;
  }
  #cssmenu > ul li#responsive-tab {
    display: block;
  }
  #cssmenu > ul li#responsive-tab a {
    background: url('images/menu.png') no-repeat;
    background-position: 95% -35%;
  }
  #cssmenu > ul li#responsive-tab a:hover {
    background-color: #d80041;
    background-position: 95% 135%;
  }
  #cssmenu > ul li {
    display: none;
  }
  #cssmenu > ul li.right {
    float: none;
  }
  #cssmenu > ul li.has-sub {
    position: relative;
  }
  #cssmenu > ul li.has-sub ul {
    display: block;
    position: static;
    width: 100%;
    background: #ffffff;
    border: 0 none;
  }
  #cssmenu > ul li.has-sub ul li {
    display: block !important;
  }
  #cssmenu > ul li.has-sub ul li a span {
    display: block;
    padding-left: 24px;
  }
  #cssmenu > ul li.has-sub > a {
    background-image: none;
  }
}
/* Make sure they show even if hidden in mobile view by JS */
@media (min-width: 600px) {
  #cssmenu > ul > li.collapsed {
    display: inline-block !important;
    *display: inline;
    zoom: 1;
  }
  #cssmenu > ul ul li.collapsed {
    display: block !important;
  }
}

@-webkit-keyframes bounce { 
   0%, 100% {opacity:1;} 
    50% {opacity:0;}
} 

@keyframes bounce { 
   0%, 100% {opacity:1;} 
    50% {opacity:0;}
}

.bounce { 
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
  background:#fff;
  transform: scale(.1);
  -webkit-transform: scale(.1);
  transform-origin: center;
  -webkit-transform-origin: center;
  
    -webkit-animation-duration: 1.5s; 
    animation-duration: 1.5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-out; 
    animation-timing-function: ease-out; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
  
}

.grow {
    transition: transform 1s ease-in;
  
  -webkit-animation: grow 1.3s ease-in;
  animation: grow 1.3s;
  transform-origin: center;
  -webkit-transform-origin: center;
  -webkit-animation-fill-mode: forwards;
	display: block;
}

@keyframes grow {
	from { transform: scaleY(.1); }
	to { transform: scaleY(1);background:#eee; }
}

@-webkit-keyframes grow {
	from { transform: scaleY(.1); }
	to{ transform: scaleY(1);background:#eee; }	
}
