/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-wpt  {
  background: $red;
  border: 0.2rem solid $black;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}
.hideonsignup {
	display: none;
}

p.wp-block-wp4toastmasters-agendanoterich2, p.wp-block-wp4toastmasters-agendanoterich, p.wp-block-wp4toastmasters-agendanote {
  display: none;
}