/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-wp4toastmasters-agendanoterich2 .mce-content-body,.wp-block-wp4toastmasters-agendanoterich .mce-content-body,.wp-block-wp4toastmasters-signupnote .mce-content-body {
	background-color: #fff;
	padding: 5px;
	margin-bottom: 10px;
}