/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-wp4toastmasters-help {
  border: medium solid gray;
  padding: 15px;
}
.wp-block-wp4toastmasters-help h2 {
  padding: 5px;
  background-color: black !important;
  color: white !important;
}